.container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--gray-line);
    background-color: #4f3b78;
}

.container div {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container a+a {
    margin-top: 2.5rem;
}