.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-right: 1px solid var(--gray-line);
    background-color: #4f3b78;
}

.container img {
    margin-top: 1.5rem;
    height: 3rem;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container div>div {
    width: 100%;
    height: 3.5rem;
    margin: auto;
}

.container div+div {
    margin-top: 1rem;
}

.container button {
    background-color: transparent;
    border: none;
    font-size: 0;
    margin-bottom: 1.5rem;
}

.borderLeft {
    border-left: 4px solid var(--white);
    border-top: 3px solid var(--purple);
    border-bottom: 3px solid var(--purple);
}